
<div id="change-password-panel">
    <app-nav-bar></app-nav-bar>
    <div class="main-content" fxLayout="column"  fxLayoutAlign="center center">
        <mat-card class="card-content">
        <mat-card-header>
            <mat-card-title fxLayout="row" fxLayoutAlign="start center" ><mat-icon>vpn_key</mat-icon><span class="title">Change Password</span></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="change-pass-form" name="passwordForm" [formGroup]="passwordForm" novalidate fxLayout="column" fxLayoutAlign="center start" >

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" placeholder="Old Password"
                           formControlName="password">
                    <mat-error *ngIf="passwordForm.controls.old_password.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="New Password"
                           formControlName="password">
                    <mat-hint>must be alpha-numeric and more than 8 characters</mat-hint>
                    <mat-error *ngIf="passwordForm.controls.password.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="!passwordForm.controls.password.hasError('required') && passwordForm.controls.password.hasError('pattern')">
                        Password must be alphanumberic with minumum 8 characters.
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="password"
                           placeholder="Confirm Password"
                           formControlName="passwordConfirm">
                    <mat-error *ngIf="passwordForm.controls.passwordConfirm.hasError('required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls.passwordConfirm.hasError('passwordsNotMatch')">
                        Passwords are not match
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end end" class="input-field" >
                    <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                            [disabled]="passwordForm.invalid"
                            (click)="changePassword()"
                            >
                        Change Password
                    </button>
                </div>
            </form>
          </mat-card-content>
      </mat-card>
    </div>
    
</div>
