

:host {

    #change-password-panel {
        height: 100%;

        .main-content {
            height: inherit;
            .card-content {

            max-width: 512px !important;
            .title { 
                padding-left: 8px;
            }
            .change-pass-form {
                padding: 12px;
                .input-field {
                    width: 100%;
                }

            }
        }
        }
    }
}

