<mat-toolbar color="primary">  
    <mat-toolbar-row>
      <button mat-button>Home</button>
      <span class="example-spacer"></span>
      <div class="example-icon">
        <button  mat-icon-button  (click)="logout()">
          <mat-icon aria-hidden="false" aria-label="account icon">account_circle</mat-icon>
        </button>
      </div>
      <div class="example-icon">
        <button  mat-icon-button  (click)="logout()">
        <mat-icon   aria-hidden="false" aria-label="logout icon">logout</mat-icon>
      </button>
      </div>
      
      
    </mat-toolbar-row>
</mat-toolbar>