$breakpoint-tablet: 768px;

:host {

    #auth-panel {
        @media (min-width: $breakpoint-tablet) {
            padding: 24px;
        }
        height: 100%;
        .card-content {
            max-width: 512px !important;
            .title { 
                padding-left: 8px;
            }
        }
    }
}