.search-field {
    width: 100%;
}

.table-header {
    padding: 32px 32px 0 32px;
}
.table-container {
    margin: 0 32px 32px 32px;
}
.add-user-btn {
    padding-right: 12px;
    padding-bottom: 24px;
}